[flake8]
max-line-length = 119
exclude = .git,__pycache__,build,dist,.venv,.mypy_cache,.pytest_cache,.tox,venv
extend-ignore = E203, W503
max-complexity = 10
docstring-convention = google
per-file-ignores =
    __init__.py:F401